@import '../config.all';

.header {
  @include breakpoint($mobile) {
    padding: 0 1rem;
  }
  @include breakpoint($tablet) {
    padding: 0 1rem;
  }
  @include breakpoint($desktop) {
    padding: 0 1rem;
  }
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  min-height: 11.2rem;
  &__social-icon {
    min-width: 10rem;
  }
  &__menu {
    .navbar-menu {
      @include breakpoint($mobile) {
        position: fixed;
        left: 100%;
        top: 0;
        margin-top: 0;
        flex-direction: column;
        background-color: rgba(0, 2, 0, 0.829);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        // height: 100vh;
        justify-content: flex-start;
        padding-top: 100px;
        transition: all 0.5s ease-out;
        z-index: 1000;
      }
      padding: 0;
      min-width: 35.2rem;
      display: flex;
      justify-content: space-between;
      @include list-clear;
    }

    a {
      @include breakpoint($mobile) {
        color: var(--c-white);
      }
      color: var(--c-grey-200);
      @include link-clear;
      @include small-400-16;
      padding: 0;
    }
    .navbar-item {
      @include breakpoint($mobile) {
        display: inline-block;
        justify-content: space-between;
        margin-bottom: 95px;
      }
    }
    .navbar-menu.active {
      @include breakpoint($mobile) {
        left: 0;
        height: 100vh;
        z-index: 90;
      }
    }
  }
  &__logo {
    @include breakpoint($mobile) {
      margin-right: auto;
    }
  }
}

.menu-bar {
  @include breakpoint($mobile) {
    cursor: pointer;
    position: relative;
    display: block;
    z-index: 100;
  }
  display: none;

  .bar {
    display: block;
    width: 2.5rem;
    height: 0.3rem;
    margin-bottom: 5px;
    background: var(--c-black);
    transition: all 0.5s;
  }
}

.menu-bar.active .bar:nth-child(2) {
  @include breakpoint($mobile) {
    opacity: 0;
    background-color: var(--c-white);
  }
}

.menu-bar.active .bar:nth-child(1) {
  @include breakpoint($mobile) {
    transform: translateY(0.8rem) rotate(45deg);
    background-color: var(--c-white);
  }
}

.menu-bar.active .bar:nth-child(3) {
  @include breakpoint($mobile) {
    transform: translateY(-0.8rem) rotate(-45deg);
    background-color: var(--c-white);
  }
}

.icons {
  display: flex;
  a {
    @include breakpoint($mobile) {
      display: none;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2rem solid rgba(51, 27, 59, 0.64);
    height: 5rem;
    margin-left: 1rem;
    border-radius: 4rem 2.5rem;
    width: 4.4rem;
  }
}
