// Define colors scss variables here.
:root {
  --c-yellow: #fdc221;
  --c-grey-300: #331b3ba8;
  --c-grey-200: #331b3b;
  --c-white: #ffffff;
  --c-black: #000000;
  --c-light-pink: #ffded44d;
  --c-dark-pink: #ffded4;
  --c-light-blue: #ecf7ff;
}
